*{
    background-color: black;
    justify-content: center;


}

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
    src: url("CustomFont.woff") format("otf"),
    url("Norse-Bold.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    }

.flex{
    display: flex;
    flex-direction: row;
}
img{
    height: 100px;
    background-color: transparent;
}
.odin{
    display: flex;
    background-color: rgba(0,0,0, .6);
    color: white;
    font-family: Norse-Bold;
    font-size:10ch;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:600px;
    margin-top: 200px;

}

.left {
    display: flex;
    background-image: url("leafplant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width:600px;
    height:800px;
}
.footer{
    margin-top: 480px;;
    background-color: transparent;
    bottom: 0%;
    color: rgb(51, 51, 50);
    height:10px;
    width: 500px;
    margin-left: 100px;
}
a:link, a:visited{
    color: rgb(51, 51, 50);
    background-color: transparent;
}
.right{
    width: 825px;
    height:700px;
    background-color: white;

}
.text{
    padding: 30px;
}
.text, .text1 , .formtext1
{
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bolder;
    width:765px;
    height: 30px;
    padding:0;
    padding-right: 30px;
    padding-left: 30px;
    font-size:20px;
    background-color:rgb(238, 238, 238);
}
.text1, .formtext1{
    padding-top: 30px;

}
.formtext1{
    
padding-top: 30px;
font-family:Arial, Helvetica, sans-serif ;
font-weight: bolder;

}
.formtext1, .formtext{
    background-color: white;
    height: 50px;
    width: 560px;

}
.createAccount{
height:190px;
background-color:#596D48;
width: 200px;
height: 50px;
font-weight:bold ;

}
form{
    background-color: white;
    position: absolute;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bolder;
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    width: 500px;
}

form input{
    background-color: white;
    height: 20px;
    width: 200px;
    margin-bottom: 10px;
    

}
#form-flex{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    margin-top: 1em;
    
    

}
.item{
    background-color: white;
    width: 50%;

}
.create{
    margin-left: -30px;
    padding-left: 25px;
    height: 262px;
    width:800px;
    background-color:rgb(201, 198, 198);
}
label{
    background-color: white;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

input{
    border:2px solid #E5E7EB;

}


input:focus {
    border:3px solid blue;
}
