*{
    background-color: black;

height: 780px;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
    src: url("CustomFont.woff") format("otf"),
    url("Norse-Bold.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    }

.flex{
    display: flex;
    flex-direction: row;
}
img{
    height: 100px;
    background-color: transparent;
}
.odin{
display: flex;
   background-color: rgba(0,0,0, .6);
    color: white;
font-family: Norse-Bold;
font-size:10ch;
justify-content: center;
align-items: center;
height: 100px;
width:600px;
margin-top: 200px;

}
.right{

    width: 1000px;
    height:800px;
    background-color: white;

}
.left {
    display: flex;
    background-image: url("leafplant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width:600px;
    height:800px;



}



.footer{
    margin-top: 480px;;
    background-color: transparent;
    bottom: 0%;
    color: rgb(51, 51, 50);
    height:10px;
    width: 600px;
    margin-left: 180px;


    

}
a:link, a:visited{
    color: rgb(51, 51, 50);
    background-color: transparent;
}