*{
    background-color: black;

height: 780px;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
    src: url("CustomFont.woff") format("otf"),
    url("Norse-Bold.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    }

.flex{
    display: flex;
    flex-direction: row;
}
.odin{
display: flex;
   background-color: transparent;
    color: white;
font-family: Norse-Bold;
font-size:10ch;
justify-content: center;
align-items: center;


}
.right{

    width: 80%;
    background-color: white;

}
.left {


    width: 30%;


}
.left-container {
display: flex;
    background-image: url("leafplant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;


}


.footer{

    color: bisque;


    

}
a:link, a:visited{
    color: bisque;
}